body {
  margin-top: 1.0em;
  background-color: #f5f5f5;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #000000;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h1 { font-size: 3.8em; color: #260321; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #260321; }
h3 { text-align: center; color: #260321; }
a { color: #260321; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #aaa; padding: 15px;}
.hilite { color: #fff; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }