.DS_Store
.settings
.classpath
.project
.idea
*~
*.iml
*.ipr
*.iws
local.properties
**/test/resources

# Ignore `mvn versions` output
*.versionsBackup

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

